@(property: Form[Property])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@request.flash.get("error").map { key =>
    @request.messages(key)
}

@main2("Create a new Property") {
    @form(routes.PropertyController.createProperty()) {
        <input type="hidden" name="id" value='@property.data.get("id")'>
        @inputText(property("address"))
        @inputText(property("postCode"))
        @inputText(property("latitude"))
        @inputText(property("longitude"))
        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Add Property"/>
        </div>
    }
}