@(properties: List[Property])(implicit request: MessagesRequestHeader)

@main2("Manage properties") {
<div class="container">
    <!-- Content here -->

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">PostCode</th>
            <th scope="col">Coordinates</th>
            <th scope="col">Surface</th>
            <th scope="col">BedRoomCount</th>
            <th scope="col">Delete</th>
            <th scope="col">Modify</th>
        </tr>
        </thead>
        <tbody>
        @for(property <- properties){
            <tr>
                <th scope="row">@property.id</th>
                <td>@property.address</td>
                <td>@property.postCode</td>
                <td>@property.latitude / @property.longitude</td>
                <td>@property.surface</td>
                <td>@property.bedRoomCount</td>
                <td>
                    @helper.form(routes.PropertyController.deleteProperty(property.id.get)) {
                        <input type="submit" value="x" />
                        @helper.CSRF.formField
                    }
                </td>
                <td>
                    @helper.form(routes.PropertyController.deleteProperty(1)) {
                        <input type="submit" value="update" />
                        @helper.CSRF.formField
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
}