@(properties: List[Property])(implicit request: MessagesRequestHeader)

@main2("List of Properties") {
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">PostCode</th>
            <th scope="col">Coordinates</th>
            <th scope="col">Surface</th>
            <th scope="col">BedRoomCount</th>
        </tr>
        </thead>
        <tbody>
        @for(property <- properties){
            <tr>
                <td>@property.id</td>
                <td>@property.address</td>
                <td>@property.postCode</td>
                <td>@property.latitude / @property.longitude</td>
                <td>@property.surface</td>
                <td>@property.bedRoomCount</td>
            </tr>
        }
        </tbody>
    </table>
}