@(properties: List[Property])(implicit request: MessagesRequestHeader)

@main2("Manage properties") {
<div class="container">
    <!-- Content here -->

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Address</th>
            <th scope="col">PostCode</th>
            <th scope="col">Coordinates</th>
            <th scope="col">Surface</th>
            <th scope="col">BedRoomCount</th>
            <th scope="col">Delete</th>
            <th scope="col">Modify</th>
        </tr>
        </thead>
        <tbody>
        @for(property <- properties){
            <tr>
                <th scope="row">@property.id</th>
                <td>@property.address</td>
                <td>@property.postCode</td>
                <td>@property.latitude / @property.longitude</td>
                <td>@property.surface</td>
                <td>@property.bedRoomCount</td>
                <td><a href=""><img src='@routes.Assets.versioned("images/x-2x.png")'></a></td>
                <td><a href=""><img src='@routes.Assets.versioned("images/cog-2x.png")'></a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
}